dd {
	padding-bottom: 0.5em;
}

#header {
	width: 100%;
	background-image: url('../images/clouds.jpg');
	background-repeat: repeat-x;
}

#header #butterfly {
	height: 25px;
}

.search-field {
	padding: 2px;
	padding-right: 10px !important;
	padding-left: 10px !important;
}

#search-results {
	margin-top: 2em;
}

.pagination-and-facets {
	padding: 2px;
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.col {
	padding: 2px !important;
}

.fill {
	width: 100% !important;
}

#query-select {
	width: 100%;
}

ul#root {
	padding-left: 0;
	padding-bottom: 10px;
}

ul.facet {
	padding-left: 0;
}

ul.facet li {
	list-style-type: none;
}

.nav-pills li.active a {
	background-color: #eee !important;
	color: #555 !important;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	float: left;
	display: none;
	min-width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	text-decoration: underline;
	color: blue;
	z-index: 100 !important;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th,
	.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td,
	.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.table-condensed>tbody>tr>td.field-value {
	vertical-align: bottom; !important;
}

.nrw-logo {
	height: 50px;
}

.footer img {
	height: 20px;
}

.intro {
	padding-top: 10px;
}

.footer {
	margin-top: 30px;
}

.pagination {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	height: 30px !important;
}

.pagination li a {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.facet {
	margin-top: 2px;
}

.facet .facet-label {
	color: #004678 !important;
}

/* Tweaks for Bootstrap update from 3.1.1 to 3.2.0: */
.form-inline .input-group {
	width: 100%;
}

.form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn
	{
	width: 1px !important;
}

.form-inline .input-group .form-control {
	width: 100%;
}

.scrollable-menu {
	height: auto;
	max-height: 400px;
	width: 100%;
	overflow-x: hidden;
}

#resourcesQuery {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.nav li a {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

li .dropdown-header {
	padding-left: 10px !important;
}

.navbar-brand {
	padding-top: 13px !important;
}

#facet-filter {
	border: 1px solid rgba(0, 70, 120, 0.5);
	background-color: rgba(0, 70, 120, 0.1);
	font-size: x-small;
	color: #333333;
}

.facet-checkbox {
	vertical-align: bottom;
	position: relative;
	top: -1px;
}

@media
print
{
a[href]:after {
	content: none;
}

.hide-in-print {
	display: none;
}

}
h5 {
	font-size: larger;
}

.json-ld-icon {
	height: 1.5em;
}

.authority-map {
	width: 100%;
	height: 400px
}