@(searchSamples: Map[String,String], getSamples: Map[String,String])

@sampleUsageCode() = {
$('input.search-gnd').autocomplete({
  source : function(request, response) {
    $.ajax({
      //  use full URL in your code, i.e. http://lobid.org/gnd/search
      url : "@routes.HomeController.search()",
      dataType : "jsonp",
      data : {
        q : request.term,
        format : "json:preferredName,professionOrOccupation"
      },
      success : function(data) {
        response(data);
      }
    });
  },
  select: function(event, ui) {
    $('#id').val('id:"'+ui.item.id+'"');
  }
});
}

@desc(label: String, link: play.api.mvc.Call) = {
 <dt>@label</dt> <dd><a href='@link'>@java.net.URLDecoder.decode(link.toString.replaceAll("[&?]format=json$", ""), "UTF-8")</a></dd>
}

@main("", "lobid-gnd - API") {
  <h1>lobid-gnd</h1>

  <h2>Search: <code>@Html(controllers.routes.HomeController.search("text").toString)</code></h2>

  <dl>
   @for((key,value) <- searchSamples) {
    <dt>@key</dt>
    <dd><a href='@value'>@java.net.URLDecoder.decode(value)</a></dd>
   }
  </dl>

  <h2>GET by ID: <code>@Html(controllers.routes.HomeController.authorityDotFormat("&lt;id&gt;", "json").toString)</code></h2>

  <dl>
   @for((key,value) <- getSamples) {
    <dt>@key</dt>
    <dd><a href='@value'>@value</a></dd>
   }
  </dl>

  <h2 id='content_types'>Inhaltstypen <small><a href='#content_types'><span class='glyphicon glyphicon-link'></span></a></small></h2>

  <p>Standardmäßig liefert dieser Dienst strukturierte API-Antworten (als JSON):</p>
  <p><code>curl http://test.lobid.org@routes.HomeController.authority("4074335-4")</code></p>
  <p>Er unterstützt Content-Negotiation über den Accept-Header für JSON (application/json) oder HTML (text/html):</p>
  <p><code>curl --header "Accept: application/json" http://test.lobid.org@routes.HomeController.search("london")</code></p>
  <p>Der Query-Parameter "format" (Werte: html,json,bulk) kann verwendet werden, um den Accept-Header aufzuheben, z.B. zur Anzeige von JSON im Browser:</p>
  <p><a href='@routes.HomeController.authority("4074335-4", format="json")'>@routes.HomeController.authority("4074335-4", format="json")</a></p>
  <p>Der Wert des Format-Parameters kann für Einzeltreffer auch in URLs als Dateiendung verwendet werden:</p>
  <p><a href='@routes.HomeController.authorityDotFormat("4074335-4", format="json")'>@routes.HomeController.authorityDotFormat("4074335-4", format="json")</a></p>
  <p>Einzeltreffer unterstützen zudem verschiedene RDF-Serialisierungen (siehe <a href='#jsonld'>Abschnitt zu JSON-LD</a>).</p>

  <h2 id="auto-complete">Autovervollständigung <small><a href='#auto-complete'><span class='glyphicon glyphicon-link'></span></a></small></h2>
  <p>Die API unterstützt ein spezielles Antwortformat mit Vorschlägen aus angegebenen Feldern.</p>
  @desc("Einzelnes Feld für Vorschläge verwenden: \"format=json:preferredName\"", routes.HomeController.search("Twain", format="json:preferredName"))
  @desc("Vorschläge aus mehreren Feldern zusammenbauen: \"format=json:preferredName,professionOrOccupation\"", routes.HomeController.search("Twain", format="json:preferredName,professionOrOccupation"))
  <p>Damit kann z.B. eine Autovervollständigung umgesetzt werden, bei der zur Suche an Stelle des gewählten Labels die entsprechende ID verwendet werden kann:</p>
  <p><form method="GET" class="form-inline" action="@routes.HomeController.search()">
    <input type="text" class="search-gnd" id="label" style="width:350px" placeholder="Suchbegriff für Vorschläge eingeben"/>
    <input type="text" class="search-gnd" name="q" id="id" style="width:350px" readonly placeholder="ID zu ausgewähltem Eintrag wird eingesetzt"/>
    <button type="submit" class="btn">Suchen</button>
  </form></p>
  <p>Dieses Beispiel ist folgendermaßen mit JavaScript und jQuery UI implementiert:</p>
  <script>@sampleUsageCode()</script>
  <pre>@sampleUsageCode()</pre>

  <h2 id='jsonld'>JSON-LD <small><a href='#jsonld'><span class='glyphicon glyphicon-link'></span></a></small></h2>

  <p>JSON-API-Anfragen liefern <a href="http://json-ld.org/">JSON-LD</a>. Um damit zu experimentieren können sie das JSON-LD oder URLs im <a href="http://json-ld.org/playground/">JSON-LD Playground</a> einfügen.</p>
  <dt>JSON-LD Context</dt> <dd><a href='@routes.HomeController.context'>@java.net.URLDecoder.decode(routes.HomeController.context.toString)</a></dd>
  <dt>RDF-Konvertierung</dt><dd>Mit einem JSON-LD-Prozessor können sie API-Antworten in andere RDF-Serialisierungen umwandeln, z.B. in N-Quads mit <a href="https://github.com/digitalbazaar/jsonld-cli">jsonld-cli</a>:</dd>
  <p><code>jsonld format --nquads http://test.lobid.org@routes.HomeController.authority("4074335-4")</code></p>
  <p>Einzeltreffer können per <code>Accept</code> Header auch direkt als RDF/XML, Turtle oder N-Triples angefordert werden:</p>
  <p><code>curl --header "Accept: application/rdf+xml" http://test.lobid.org@routes.HomeController.authority("4074335-4")</code></p>
  <p><code>curl --header "Accept: text/turtle" http://test.lobid.org@routes.HomeController.authority("4074335-4")</code></p>
  <p><code>curl --header "Accept: application/n-triples" http://test.lobid.org@routes.HomeController.authority("4074335-4")</code></p>
  <p>Dabei werden wie <a href='#content_types'>im Abschnitt zu Inhaltstypen beschrieben</a> neben dem Format-Parameter auch URLs mit Formatendungen unterstützt:
  <p><a href='@routes.HomeController.authorityDotFormat("4074335-4", format="rdf")'>@routes.HomeController.authorityDotFormat("4074335-4", format="rdf")</a></p>
  <p><a href='@routes.HomeController.authorityDotFormat("4074335-4", format="ttl")'>@routes.HomeController.authorityDotFormat("4074335-4", format="ttl")</a></p>
  <p><a href='@routes.HomeController.authorityDotFormat("4074335-4", format="nt")'>@routes.HomeController.authorityDotFormat("4074335-4", format="nt")</a></p>
}
